<%= form_for(@lecture) do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
  </div> 
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_field :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
