<%= form_for @task, url: lecture_tasks_path(params[:lecture_id]), method: :post do |f| %> 
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
  </div> 
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>