<p id="notice"><%= notice %></p>

<h1>List of all solutions for this task</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <% @solutions.each do |solution| %>
        <tr>
          <td><%= solution.answer %></td>
          <td><%= link_to 'Show', lecture_task_solution_path(params[:lecture_id], params[:task_id], solution) %></td>
          <td><%= link_to 'Edit', edit_lecture_task_solution_path(params[:lecture_id], params[:task_id], solution) %></td>
          <td><%= link_to 'Destroy', lecture_task_solution_path(params[:lecture_id], params[:task_id], solution), method: :delete, data: { confirm: 'Are you sure, you cannot restore it!!!' } %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Solution', new_lecture_task_solution_path(params[:lecture_id], params[:task_id]) %>
<%= link_to 'Home Page', lectures_path %>
